[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
flask = "*"
python-dotenv = "*"
loguru = "*"
sqlite3 = '*'
python-telegram-bot-calendar = "*"

[dev-packages]

[requires]
python_version = "3.10"
